<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="X1UserSynchroService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--默认数据库连接字符串 -->
    <add key="primaryConnection" value="Data Source=.;Initial Catalog=XStudio;User ID=infos1;Password=20010102;pooling = false"/>
    <!--任务请求间隔时间 单位：秒-->
    <add key="RequestInterval" value="10"/>
    <!--SynchroType 0:用户修改密码同步到频率库，1:河南台的同步 -->
    <add key="SynchroType" value="1"/>
    <!--同步用户调用的WebService-->
    <add key="UserSynchroWebServiceUrl" value="http://localhost:21768/UserSynchroWebService.asmx"/>
    <add key="UserSynchroWebServiceUrl1" value="http://localhost:21768/UserSynchroWebService.asmx"/> 
    <add key="RightManagerURL" value="http://localhost:18921/RightManagerWS/RightManager.asmx" />
    <add key="RightManagerURL2" value="http://localhost:18921/RightManagerWS/RightManager.asmx" />
  </appSettings>
 
</configuration>
